
/* *{
    background: linear-gradient(to left, rgb(54, 209, 170), rgb(134, 184, 134));
} */
.heading {
    font-size: 50px;
    background :linear-gradient(to left, rgb(184, 248, 184) , rgb(201, 248, 244));
    margin: 1em 3em;
    border-radius: 10px;
}

.container {
    background: whitesmoke;
}

.form-field {
    margin: 1em 8em;
}

.textfield {
    margin-bottom: 3em;
}
.btn {
    margin-left: 1em;
}
.paper_item {
    display: flex;
    padding: 1em;
    margin: 10px;
}
.paper_content{
    flex-grow: 3;
    padding-top: 0.8em;
}
